<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h2>MAM Les P'tits Aventuriers</h2>
            <p>&copy; 2024 codeBash. Tous droits réservés.</p>
        </div>

        <div class="footer-section">
            <h3>Suivez-nous</h3>
            <div class="follow-main-container">
                <div class="follow-link-container1">
                    <a class="follow-link" href="https://www.facebook.com" aria-label="Notre page Facebook"
                        target="_blank">

                        Facebook
                    </a>
                </div>
                <div class="follow-link-container2">
                    <a href="https://www.instagram.com" aria-label="Notre page Instagram" target="_blank">

                        Instagram
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>