<div id="gallerySection">
  <div class="card">
    <p-galleria
      [value]="images"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '640px' }"
      [numVisible]="7"
      [circular]="true"
    >
      <ng-template pTemplate="item" let-item>
        <img
          [src]="item.itemImageSrc"
          style="width: 100%; height: 500px; display: block"
        />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <img
          [src]="item.thumbnailImageSrc"
          style="width: 100%; display: block"
        />
      </ng-template>
    </p-galleria>
  </div>
</div>
