<div class="header-main-container">
  <span class="header-title">Mam Les ptits aventuriers</span>
  <div class="header-btn-container">
    <p-button
      label="Accueil"
      [raised]="true"
      icon="pi pi-home"
      (click)="scrollToSection('homeSection')"
    />

    <p-button
      label="Notre projet"
      [raised]="true"
      icon="pi pi-book"
      (click)="scrollToSection('homeSection')"
    />
    <p-button
      label="Activités"
      [raised]="true"
      icon="pi pi-palette"
      (click)="scrollToSection('homeSection')"
    />
    <p-button
      label="Gallerie"
      [raised]="true"
      icon="pi pi-images"
      (click)="scrollToSection('homeSection')"
    />
    <p-button
      label="Contact"
      [raised]="true"
      icon="pi pi-address-book"
      (click)="scrollToSection('homeSection')"
    />
  </div>
</div>
