#aproposSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: rgb(197, 143, 183);*/

}

.text-container{
  width: 800px;
  font-size: 1.2rem;
}
