<div id="aproposSection">
  <p>
    Notre MAM Les p’tits aventuriers est née de notre intérêt commun pour
    l’enfant : son développement, sa progression vers l’autonomie et sa
    sensibilité au monde. C’est pour nous une véritable source de bonheur de les
    accompagner au quotidien, les regarder évoluer, apporter notre soutien et
    notre aide pour leur donner les moyens de faire seul. Dès lors que l’enfant
    agit librement en toute autonomie, il contribue à développer l’estime de
    lui-même et la confiance en ses capacités.
  </p>

  <p>
    L’environnement est réfléchi, rassurant et conçu pour eux afin de répondre à
    leur besoin d’émancipation. Aussi, nous mettons en place des activités qui
    éveillent leur imagination et créativité. Par ailleurs, grâce à notre amour
    pour la nature, nous souhaitons partager notre sensibilité avec notre projet
    « Nature & Compagnie », et par ce biais, leur apprendre au quotidien à en
    prendre soin.
  </p>

  <p>
    Notre projet éducatif et pédagogique est un outil indispensable pensé comme
    les fondations d’une maison. Dans ce principe, chacun de nous, adultes,
    participe aux premières fondations de l’enfant dès sa naissance. Ce projet
    constitue le fruit d’une réflexion autour de l’enfant, de nos valeurs
    personnelles, de l’expérience acquise au cours de nos formations et emplois,
    et de nos lectures. Il évoluera au gré des formations, des rencontres et de
    l’histoire de la MAM.
  </p>

  <p>
    Son objectif est de fixer les orientations de la MAM afin de suivre un but
    commun : le bien-être global et l’épanouissement des nourrissons et jeunes
    enfants accueillis. Nous visons à répondre à leurs besoins d’évoluer,
    découvrir, apprendre et encourageons leur besoin d’autonomie tout comme leur
    besoin de prendre leur temps pour « grandir ».
  </p>

  <p>
    Dans un esprit chaleureux et bienveillant, notre mission est d’offrir à vos
    enfants des moments simples et heureux qu’ils garderont comme doux souvenirs
    d’enfance.
  </p>
</div>
